/*
Aufgabe: Endabagbe Döner Trainer
Name: Armina Music
Matrikel: 268021
Datum: 11.02.22
*/

body, html {
    margin: 0px;
    height: 100%;
    background-color: #333;
    overflow: hidden;
    color: #eee;
    font-size: 97px;
}

header {
    text-align: center;
}

canvas {
    margin-left: 200px;
}

h2 {
    margin-left: 200px;
}