/*
Aufgabe: Endabagbe Döner Trainer
Name: Armina Music
Matrikel: 268021
Datum: 11.02.22
*/

body, html {
    margin: 0px;
    height: 100%;
    background-color: #e2e2e2;
    overflow: hidden;
}

header {
    text-align: center;
}

canvas {
    margin-left: 200px;
}